div.text-center.separator
	h1.title MISITIOBA 
	h4.subtitle.separator
		//| A personal space to develop creativity
		| !{lang('PAGE_SUBTITLE')}

	a.button-black(href='services') 
		div !{lang('SECTION_SERVICES')}

	include _slider.html

	div.text-center
	

	a.button-black(href='projects') 
		div !{lang('PROJECTS')}

	a.button-black(href='blog') 
		div BLOG
		
	a.button-black(href='works') 
		div !{lang('SECTION_WORKS')}
	
	a.button-black(href='javierarancibia') 
		div !{lang('SECTION_ABOUT')}

	